header {
    padding:  9px 21px 39px 22px;
    max-width: 768px;
}

header .logo span {
    display: none;
}

.search-form {
    display: none;
}

.search-icon {
display: none;
}


.cart-icon {
    display: none;
}

.search-mobile {
    display: none;
    width: 37px;
    height: 37px;
    background: url(images/search-icon.png) no-repeat center;
    display: block;
}